/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

div {
	display: block;
}

#portfolio:hover .portfolio-item, #portfolio.hover .portfolio-item {
	-webkit-transform: rotateY(180deg);
}

.portfolio-item {
	transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	position: relative;
	margin-left: 200px;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
}

.back {
	-webkit-transform: rotateY(180deg);
}
